.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  padding: 0 20px;
  top: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #007bff; 
  font-size: 24px;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  z-index: 3;
}

.brand {
  color: #007bff; 
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  margin-top: 20px;
}
