.searchBox {
  width: 1300px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 3;
}


.podcastBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4%;
  width: 1300px;
  margin-top: 10%;
  text-decoration: none;
}

