/* Definir estilos para la tarjeta de cada podcast */
.card {
  border: 1px solid #ddd;
  border-radius: 2px;
  border-top: none;
  padding: 10px;
  margin: 65px;
  width: 210px;
  position: relative; 
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  color: rgb(63, 63, 63);
  text-align: center;
}

/* Estilos específicos para imagen */
.card img {
  width: 35%;
  height: auto;
  border-radius: 100%;
  position: absolute; 
  right: 80px;
  top: -40px;
  z-index: 1;
  justify-self: center;
}

.text {
 padding-top: 16px;
 line-height: 1em;
}