.searchbar {
  position:fixed;
  z-index: 3;
padding: 0 20px;
}

.searchbar input  {
  background-color: #ffffff;
  opacity: 1;
  outline: none;
  border: 1.25px solid #a5a5a5;
  border-radius: 2px;
  color:rgb(32, 32, 32)
}